<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/index :: head"></head>

<body>

	<header th:replace="layout/index :: header"></header>

	<div class="container py-4">
		<br><br><br>
		<div class="card bg-danger text-white">
			<div class="card-header">Error: Página no encontrada</div>
			<div class="card-body">
				<div th:text="${error}"></div>
				<div th:text="${status}"></div>
				<div th:text="${timestamp}"></div>

				<a th:href="@{/}" class="btn btn-outline-light" role="button">Ir
					al inicio</a>
			</div>
		</div>
	</div>
	
	<footer th:replace="layout/index :: footer"></footer>

	
</body>

</html>